<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container mt-3">
      <div class="row row-cols-3">
        <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
        <div class="col">
          <div class="card mt-3 col" style="width: 25rem">
            <% if (blog.coverImageURL) { %>
            <img
              src="<%= blog.coverImageURL %>"
              width="300px"
              height="200px"
              class="card-img-top"
              alt="Blog cover image"
            />
            <% } else { %>
            <img
              src="/images/default-cover.jpg"
              class="card-img-top"
              alt="Default cover image"
            />
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>

        <% }) %> <% } else { %>
        <p>No blogs available at the moment.</p>
        <% } %>
      </div>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
